.nav {
    background: #eee;
    height: 30px;
    line-height: 30px;
}

/*用户部分*/
.nav .user {
    float: left;
}

/*有空格表示class里面的class*/
/*没有空格直接连接，表示同时拥有两个class*/
.nav .user .link {
    margin-right: 10px;
}

.nav .user.login {
    display: none;
}

.nav .user.no-login {

}

/*导航部分*/
.nav .nav-list {
    float: right;
}

.nav .nav-list .nav-item {
    display: inline-block;
    margin-right: 5px;
}