<div class="footer">
    <div class="w">
        <div class="links">
            <a href="http://rayhahah.com" class="link" target="_blank">个人博客</a> |
            <a href="https://github.com/Rayhahah" class="link" target="_blank">Github</a> |
            <a href="https://juejin.im/user/57a5c87d1532bc0060c4e627" class="link" target="_blank">掘金</a> |
            <a href="https://juejin.im/user/57a5c87d1532bc0060c4e627" class="link" target="_blank">简书</a>
        </div>
        <p class="copyright">
            Copyright © 2017 raymall.com All Right Reserved
        </p>
    </div>
</div>

<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>